---
export const prerender = true;

import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm.astro';
---

<Layout>
	<div class="max-w-md mx-auto p-8 bg-white rounded-xl shadow-lg">
		<h1 class="text-3xl font-bold mb-8 text-gray-800 text-center">Nimm Kontakt auf</h1>
		<p class="text-gray-600 text-center mb-8">Die Inventarisierung wird von Juliane Seibert und Cathrin Weinig geleitet. Du kannst uns jederzeit über das unten stehende Formular kontaktieren.</p>
		<ContactForm />
	</div>
</Layout>