---
import Layout from '../layouts/Layout.astro';
import { getStaticPaths } from '../pages/[...slug].astro';
import ContactForm from '../components/ContactForm.astro';
const allPages = await getStaticPaths();

const pages = allPages.map(({ params, props }) => ({
  slug: params.slug,
  title: props.title,
  text: props.text
}));
---
<Layout>

	<div class="max-w-md mx-auto p-8 bg-white rounded-xl shadow-lg">
		<h1 class="text-3xl font-bold mb-8 text-gray-800 text-center">Nimm Kontakt auf</h1>
		<p class="text-gray-600 text-center mb-8">Die Inventarisierung wird von Juliane Seibert, Cathrin Weinig, Simon Wein und Andrea Wettermann geleitet. Du kannst uns jederzeit über das unten stehende Formular kontaktieren.</p>
		<ContactForm />
	</div>

  <div class="flex flex-wrap gap-4 p-4">
    {allPages.map(({ params, props }) => (
      <div class="p-2 border border-gray-200 rounded-md transition-all duration-200 hover:bg-gray-100 hover:translate-x-2">
        <a href={params.slug ? `/${params.slug}` : '/'} class="no-underline text-gray-700">
          {props.title}
        </a>
      </div>
    ))}
  </div>
</Layout>