---
import logo from '../assets/logo.png';
import { Image } from 'astro:assets';
---

<header class="bg-white py-4 px-8 shadow-md">
    <div class="flex items-center gap-4">
        <a href="/">
            <Image src={import('../assets/logo.png')} alt="Oranienschule Logo" class="h-[50px] w-auto" />
        </a>
        <h1 class="m-0 font-sans text-2xl text-gray-700">Inventar der Oranienschule</h1>
        <a href="/form" class="text-orange-500 hover:text-orange-600 font-medium transition-colors underline">Kontakt</a>
    </div>
</header> 